{% extends 'base.html' %}
{% load static %}

<!-- 제목 블록 start(기본값 MY Blog Page)-->
{% block title %}
logged_out.html
{% endblock %}
<!-- 제목 블록 End-->

<!-- 스타일 블록 start-->
{% block extra-style %}
<style>
    .logout-image{
        background-image: url("{% static 'img/감사.png' %}");
        background-position: center;
        background-size: 100%;
        height: 500px;
        background-repeat: no-repeat;
    }
    .logout-hr1{
        border:0px;
        height: 2px;
        background: rgb(0, 6, 15);
    }
    .return-log{
        font-size:20px;
        font-style:italic;
    }
</style>
{% endblock %}
<!-- 스타일 블록 End-->

<!-- 콘텐츠 블록 start-->
{% block content %}
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </svg> &nbsp;로그아웃</h1>
    <hr class="logout-hr1">
    <h3>블로그를 방문해주셔서 감사합니다.</h3>
    <div class="logout-image">
        <span class="h3"></span>
    </div>

    <br>
    
    <p class="return-log"><a href="{% url 'login' %}">
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
        </svg>&nbsp;다시 로그인하기</p>
    
{% endblock %}
<!-- 콘텐츠 블록 End-->

<!-- 스크립트 블록 start-->
{% block extra-script %}
{% endblock %}
<!-- 스크립트 블록 End-->