{% extends 'base.html' %}
<!-- 제목 블록 start(기본값 MY Blog Page)-->
{% block title %}
photo_detail.html
{% endblock %}
<!-- 제목 블록 End-->

<!-- 스타일 블록 start-->
{% block extra-style %}
{% endblock %}
<!-- 스타일 블록 End-->

<!-- 콘텐츠 블록 start-->
{% block content %}
    <h2 class="mt-5">{{object.title}}</h2>
    <div class="row">
        <div class="col-md-9">
            <a href="{{object.image.url}}">
                <img src="{{object.image.url}}" style="width:100%">
            </a>
        </div>

        <ul class="col-md-3 mt-3">
            <li class="h5">Photo Description</li>
                {% if object.description %}<p>{{object.description|linebreaks}}</p>
                {% else %}<p>(blank)</p>
                {% endif%}
            <li class="h5">Date Uploaded</li>
                <p class="font-italic">{{object.upload_dt}}</p>
            <li class="h5">Album Name</li>
                <p class="font-italic">
                <a href="{% url 'photo:album_detail' object.album.id %}">{{object.album.name}}</a>
                </p>
        </ul>
    </div>
{% endblock %}
<!-- 콘텐츠 블록 End-->

<!-- 스크립트 블록 start-->
{% block extra-script %}
{% endblock %}
<!-- 스크립트 블록 End-->